<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Quora Posts</h1>
    <form method="post" action="/posts">
        Name :
        <input type="text" name="name" placeholder="enter name">
        <br><br>
        Content : <br>
        <textarea name="content" id="content" rows="10" cols="35"></textarea>
        <br><br>
        <button>Submit Post</button>
    </form>
</body>
</html>