<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Data</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <h2>here is your post details</h2>
    <div class="name">
        Id :<%= post.id %>
        <br><br>
      Name :<%= post.name %>
      <br><br>
      content :<%= post.content %>
    </div>
    <br /><br />
</body>
</html>